.vscode/**
.vscode-test/**
**/*.ts
**/*.map
**/.eslintignore
**/.gitignore
**/.markdownlint.json
**/.vscodeignore
**/package-lock.json
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/
client/src/
client/src/test/
client/testFixture/
client/tsconfig.json
client/webpack.config.js
!file.ts
**/*.vsix
**/*.docx
doc/
tests/
scripts/
node_modules/
server/node_modules/
server/src/
server/tsconfig.json
server/webpack.config.js