.vscode/**
.vscode-test/**
**/*.ts
**/*.map
**/.eslintignore
**/.gitignore
**/.markdownlint.json
**/.vscodeignore
**/package-lock.json
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/src/
client/src/test/
client/testFixture/
!file.ts
**/*.vsix
**/*.docx
doc/
tests/
scripts/